// @font-face {
//   font-family: 'Nunito';
//   src: url('/stuff/fonts/Nunito-SemiBold.ttf');
// }

$tablet: 1250px;
$mobile: 500px;

* {
  font-family: Nunito;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  min-height: 100vh;
  font-size: 35px;
  .links {
    position: static;
    background-color: rgba(70, 70, 70, 0.529);
    height: 70px;
    align-items: center;
    display: flex;
    justify-content: left;
    & > * {
      color: white;
      outline: none;
      text-decoration: none;
      padding: 5px;
      & {
        margin-left: 20px;
      }
      &:active {
        color: black;
      }
      &:hover {
        background-color: green;
        border-radius: 10px;
      }
    }
  }
}
